{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="center"> Qui sommes nous ? </h1>

    <h2> BeeOHoney </h2>
    <p>  </p>
    <div>
        <img src="{{ asset('photos/marcmarie.jpg') }}" width="400px" alt="Marc&Marie">
    </div>
{% endblock %}